* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #61dafb;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display {
    color: #abb2bf;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.tile {
    background-color: #1e2125;
    border: 2px solid #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #abb2bf;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tile:hover {
    background-color: #3a3f44;
}

.playerX {
    color: #e06c75;
}

.playerO {
    color: #98c379;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #3a3f44;
}

.restart {
    background-color: #61dafb;
}

#reset {
    background-color: #e06c75;
}
